<section id="allproducts" class="bg-light text-center">
    <div class="container">
        <div class="row" id="title">
            <div class="col-xs-12">
                <h3>our latest listings</h3>
                {{ homeDescTop|raw }}
            </div>
        </div>
        <div class="row">
            <nav class="nav nav-tabs text-center" id="tabproducts">
                <div class="col-xs-6 text-right">
                    <button type="button" data-target="{{ path('salesrenthome') }}" id="salesRentHome" class="btn-gray" aria-controls="Buy">Sales</button>
                </div>
                <div class="col-xs-6 text-left">
                    <button type="button" data-target="{{ path('salesrenthome') }}" id="salesRentHome" class="btn-gray" aria-controls="Rent">Rentals</button>
                </div>
            </nav>
        </div>
        <div id="product-container">
            {% include 'homepage/productcontainer.html.twig' %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn-orange" data-target="{{ path('loadmoreparam') }}" id="loadMoreProd">load more</button>
            </div>
        </div>
    </div>
</section>