<section id="property">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 text-left">
                <h4>{{ 'wouldliketobuy'|trans }}</h4>
            </div>
            <div class="col-xs-12 col-md-4 text-right">
                <button data-action="{{ path('contactus') }}" class="btn-orange">{{ 'contactus'|trans }}</button>
            </div>
        </div>
    </div>
</section>