section#loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 2s linear;
	background: #1E88E5;
	z-index: 9999;
}
span.load {
	display: flex;
	position: relative;
	animation: rotateLoad infinite linear 1s;
}
span.load.mini{ width: 15px; height: 15px; }
span.load.little { width: 25px; height: 25px; }
span.load { width: 60px; height: 60px; }
span.load:before,
span.load:after {
	display: flex;
	position: absolute;
	content: '';
	background: #fff;
	border-radius: 50%;
	width: 55%;
	height: 55%;
}
span.load:before { right: 0; bottom: 0; animation: scaleChange_1 infinite linear 1s; }
span.load:after { top: 0; left: 0; animation: scaleChange_2 infinite linear 1s; }
span.load.dark:before,
span.load.dark:after { background: #222; }
span.load.mini:after { border-width: 2px; }
span.load.little:after { border-width: 3px; }
span.load:after { border-width: 8px; }
@keyframes rotateLoad {
	0%      { transform: rotate(0deg); }
	100%    { transform: rotate(360deg); }
}
@keyframes scaleChange_1 {
	0%      { transform: scale(1); }
	50%     { transform: scale(0); }
	100%    { transform: scale(1); }
}
@keyframes scaleChange_2 {
	0%      { transform: scale(0); }
	50%     { transform: scale(1); }
	100%    { transform: scale(0); }
}
body, html {
	background-color: #F5F5F5;
	height: 100%;
}
#navigation{
	font-size: 14px;
	font-family: 'MontserratRegular', serif;
	a{
		color: #afb4b5;
		padding: 15px; 
	}
	.dropdown-menu{
		width: -moz-min-content;
		width: min-content;
		padding-bottom: 0;
		background-color: #3C85CC; 
		border: none;
		-webkit-box-shadow: 0 10px 28px 0 rgba(0,0,0,0.4);
		box-shadow: 0 10px 10px 0 rgba(9, 33, 56, 0.77);
		a{padding: 15px 20px; }
	}
	.navbar-brand {padding: 5px 0 0 0;}
	.nav{padding-top: 15px;}
	li:hover{
		background-color: #3c85cc;
		color: white;
	}
	.navbar-right{
		a:hover,a:focus,a:active{
			background-color: #3c85cc;
			color: white;
		}
	}
	li:hover > ul.dropdown-menu{display: block;}
	height: 70px;
	.dropdown-submenu {position: relative;}
	.navbar-nav>li>.dropdown-menu {
		margin-top: 0;
		border-radius: 0;
	}
	.dropdown-submenu>.dropdown-menu {background-color: #2371bd;}
	.dropdown-submenu>.dropdown-menu>li>a:hover {background-color: #1a66b1;}
	.dropdown-submenu>.dropdown-menu {
		margin-top: 0;
		margin-left: 0;
		border-radius: 0;
		top: 0;
		left: 100%;
	}
	.dropdown-submenu:hover>.dropdown-menu {display: block;}
	.dropdown-submenu>a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-right-width: 0;
		border-left-color: #ccc;
		margin-top: 5px;
		margin-right: -10px;
	}
	.dropdown-submenu:hover>a:after {border-left-color: #fff;}
	.navbar-right .dropdown-menu {left: 0;}
	.dropdown-submenu>.dropdown-menu {left: 100%;}
	.dropdown-menu>li>a {color: white;}
	.dropdown-menu>li>a:hover {background-color: #2371bd;}
	li>a.twitter,li>a.facebook{
		width: 50px;
		i{font-size: 14.9px;}
	}
	li>a.twitter:hover{
		i{color: white; }
		background-color: #429cd6; 
	}
	li>a.facebook:hover{
		i{color: white;}
		background-color: #3a589e; 
	}
}
section#header{
	margin-top: 69px;
	height: 100%;
	.dropdown-menu::-webkit-scrollbar {width: 5px;}
	.dropdown-menu::-webkit-scrollbar-track {background: #efefef;}
	.dropdown-menu::-webkit-scrollbar-thumb {background: #cdcdcd;}
	#text{
		height: 100%;
		top: 35%;
		position: absolute;
		text-align: left;
		text-transform: uppercase;  
		color: #fefefe;
		h2{font-family: 'MontserratRegular', serif;}
		h1{font-family: 'MontserratExtraBold', serif;}
	}
	#form{
		.form-control{
			padding: 5px 12px;
			height: 30px;
		}
		position: absolute;
		margin-left: -15px;
		width: inherit;
		bottom: 0;
		border-radius: 6px 6px 4px 4px;
		background-color: rgba(226, 226, 199, 0.95);
		.row{margin: 15px;}
		.btn{border-radius: 0;}
		#price-text{
			font-size: 14px;
			font-family: 'MontserratRegular', serif;
			color: #394041;
			text-align: left;
			margin: 0;
			padding: 0;
		}
		.input-group {
			position: relative;
			display: inline-block;
			border-collapse: separate;
			width: 100%;
		}
		.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
			width: 100%;
		}
		button{
			height: 30px;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		button[type="submit"]{
			margin-top: 23px;
		}
		.dropdown-menu {
			padding: 0; 
			margin: 0;
			font-size: 14px;
			font-family: 'MontserratRegular', serif;
			background-color: #fff;
			color: #acadad;
			border: unset; 
			border-radius: unset; 
			z-index: 9999; 
		}
		.dropdown-menu > li > a {
			padding: 3px 10px;
			color: #acadad;
		}
		.dropdown-menu > li > a:hover {
			padding: 3px 10px;
			color: #fff;
			background-color: #3c85cc;
		}
		.btn:hover, .dropdown-toggle:hover, .bs-placeholder:hover, .btn-default:hover,
		.btn:focus, .dropdown-toggle:focus, .bs-placeholder:focus, .btn-default:focus,
		.btn:active, .dropdown-toggle:active, .bs-placeholder:active, .btn-default:active{
			color: #999;
			background-color: #fff;
			border: 2px solid #71a5d1;
			-webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,0.25);
			box-shadow: 0 0 20px 1px rgba(0,0,0,0.25);
		}
		#line-price{
			margin-top: 0;
			margin-bottom: 30px;  
			#slider12c .slider-selection {background: #eb8700;}
			.tooltip-inner {
				font-family: 'MontserratBold', serif;
				color: #eb8700;
				background-color: #ffffff;
			}
			.tooltip{z-index: 1000;}
			.tooltip.top .tooltip-arrow {border-top-color: #ffffff;}
			.slider-handle {
				width: 20px;
				height: 20px;
				background-color: #f6f6f6;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#eee));
				background-image: linear-gradient(to bottom, #eee 0%, #eee 100%);
				background-repeat: repeat-x;
				-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
				box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
				border: 2px solid #fff;
			}
			.slider-handle:hover, .slider-handle:focus, .slider-handle:active {
				background-image: -webkit-gradient(linear, left top, left bottom, from(#88b2db), to(#88b2db));
				background-image: linear-gradient(to bottom, #88b2db 0%, #88b2db 100%);
			}
			.slider.slider-horizontal .slider-track {
				height: 3px;
				margin-top: -2px;
			}
			.slider.slider-horizontal {
				width: 100%;
				margin-top: 5px;
				margin-left: 10px;
			}
			.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
				height: 150%;
			}
		}
	}
	#land-text{
		margin-top: 40px; 
		h2{
			font-family: 'MontserratRegular', serif;
			font-size: 23px;
			vertical-align: middle;
			color: #252A2B;
			line-height: 53px; 
			background-color: rgba(255,255,255,0.85);
			padding: 0 20px;
			height: 53px;
			margin: 0;
			width: -moz-max-content;
			width: max-content;  
		}
		p.bread{
			a{color: #fff;}
			.separator{color: #516f8d;}
			a:hover{color: #516F8D;}
			font-family: 'MontserratRegular', serif;
			font-size: 14px;
			vertical-align: middle;
			color: #fff;
			line-height: 53px; 
			background-color: rgba(24,53,82,0.85);
			padding: 0 20px;
			margin: 0;
			height: 53px;
			width: -moz-max-content; 
			width: max-content;
		}
	}
	position: relative;
	background: no-repeat center;
	background-size: cover;
}
#wo-breadcrumbs{
	display: inline-flex;
	width: 100%;
	.separator{
		color: #fff;
		display: none;
	}
	font-family: 'MontserratRegular', serif;
	font-size: 14px;
	vertical-align: middle;
	color: #fff;
	line-height: 53px;
	background-color: rgba(24,53,82,0.85);
	padding: 0 20px;
	margin: 0;
	height: 53px;
	width: -moz-max-content;
	width: max-content;
	a{color: white;}
	a:hover{color: #74adf2;border: none;}
}
.breadcrumb {border-radius: 0;}
.breadcrumb > li + li:before {
	padding: 0 2px;
	color: #ccc;
	content: "/\00a0";
}
.breadcrumb > li + li::before {content: "";}
ol.breadcrumb li:not(:last-child):after {
	content: '\f105';
	font-family: 'FontAwesome';
	color: #ffffff;
	margin: 0 3px;
	padding: 0 5px;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {max-height: 390px;}