<section id="header">
    <div class="container">
        <div class="row" id="land-text">
            <div class="col-xs-12">
                <h2 class="text-left">{{ 'property.detail'|trans }} {{ head }}</h2>
                {{ wo_render_breadcrumbs({separator: ''})  }}
            </div>
        </div>
    </div>
</section>